<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../external-libs/tachyons.min.css"/>
</head>

<div class="fw-100 pa3">
    <div class="pv4 ph3 ph5-m ph6-l bg-black-90">
      <small class="f6 db tc white-70">© 2025 <b class="ttu">Leonardo Nunes Aragão</b>., All Rights Reserved</small>
      <div class="tc mt3">
        <a href="../pages/about.html" target="_top" title="About" class="f6 dib ph2 link white dim">About</a>
        <a href="/terms/" target="_top" title="Terms" class="f6 dib ph2 link white dim">Terms of Use</a>
        <a href="/privacy/" target="_top" title="Privacy" class="f6 dib ph2 link white dim">Privacy</a>
      </div>
    </div>
  </div>