<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../external-libs/tachyons.min.css"/>
</head>

<div class="cover bg-left bg-center-l bg-black-90">
    <div class="bg-black-80">
      <nav class="dt w-100 mw8 center"> 
        <div class="w-10">
          <a href="https://leonardon-aragao.github.io/knowledge/" class="dib w2 h2 pa1 ba b--white-90 grow-large border-box">
            <img src="/images/favicon.svg">
          </a>
        </div>
        <div class="w-90">
          <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" target="_top" href="/" >How it Works</a> 
          <a class="f6 fw4 hover-white no-underline white-70 dn dib-l pv2 ph3" target="_top" href="../about.html" >About</a> 
        </div>
      </nav> 
    </div>
  </div> 